// Account Pending Template

extends layout

block content

    section(style='clear:both;margin-bottom:10px;')
        h1= title

        div(style="text-align: center; margin-left: auto; margin-right: auto; max-width: 50%;")
            blockquote(style='float:left;position:relative;z-index:1;')
            
                h2 Someone from Coretek Cloud will contact you and aid you in completing the setup proccess. 
                p Suspendisse potenti. Mauris in ipsum nec augue finibus mattis. Nunc elit nibh, vehicula vel tempor id, hendrerit ac sapien. Sed fermentum condimentum eros. Proin velit augue, lobortis nec tincidunt a, volutpat sit amet arcu. Donec commodo enim sed sapien accumsan, sit amet lacinia nisl pharetra. Ut pretium mauris lorem, in tincidunt erat rhoncus vel. 
                h3 Still Have Questions? Call Us 248.111.1111

        script(type='text/javascript')
            setTimeout("location.href = '/';",10000);
            