// Dashboard Template

extends layout

block content

    section
        h1#page_title= title

        #dashboard_container
            
            .widget_outer(style='float:left;')
                h1 Azure Service Manager
                
                .widget_inner
                    #services
                    
                    script(type='text/javascript')
                        $(document).ready(function(){
                            $.ajax({
                                url: '/azure/asm/service/list',
                                type: "GET",
                                async: false,
                                success: function(response){
                                    
                                    $.each($.parseJSON(response), function(idx, obj) 
                                    {
                                        $('#services').append('<h3>' + obj.serviceName + '</h3>');
                                        $('#services').append('<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat est bibendum tempor imperdiet. Suspendisse hendrerit, sapien eu vehicula volutpat, urna nunc pulvinar lorem, id dignissim mi libero fermentum diam. Integer facilisis tortor in turpis faucibus, sollicitudin sagittis metus bibendum. Vivamus eget iaculis eros. Etiam pretium quam urna, ut vulputate erat euismod sit amet. Aenean non metus varius, fermentum mauris id, venenatis erat. Aliquam erat volutpat. Suspendisse sed magna vel libero porta ultrices ac quis mi. Nulla eleifend congue sem, non interdum sem condimentum ultrices. Maecenas ut semper augue. Aenean at risus a dui aliquet bibendum. Aenean tempus ipsum vitae velit pellentesque tristique. </div>');
                                    });
                                }
                            });

                            $("#services").accordion();
                        });

            .widget_outer(style='float:right;')
                h1 Azure Resource Manager

                .widget_inner
                    #groups

                    script(type='text/javascript')
                        $(document).ready(function(){
                            $.ajax({
                                url: '/azure/arm/group/list',
                                type: "GET",
                                async: false,
                                success: function(response){
                                    
                                    $.each($.parseJSON(response), function(idx, obj) 
                                    {
                                        $('#groups').append('<h3>' + obj.name + '</h3>');
                                        $('#groups').append('<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat est bibendum tempor imperdiet. Suspendisse hendrerit, sapien eu vehicula volutpat, urna nunc pulvinar lorem, id dignissim mi libero fermentum diam. Integer facilisis tortor in turpis faucibus, sollicitudin sagittis metus bibendum. Vivamus eget iaculis eros. Etiam pretium quam urna, ut vulputate erat euismod sit amet. Aenean non metus varius, fermentum mauris id, venenatis erat. Aliquam erat volutpat. Suspendisse sed magna vel libero porta ultrices ac quis mi. Nulla eleifend congue sem, non interdum sem condimentum ultrices. Maecenas ut semper augue. Aenean at risus a dui aliquet bibendum. Aenean tempus ipsum vitae velit pellentesque tristique. </div>');
                                    });
                                }
                            });

                            $("#groups").accordion();
                        });
